<div class="container-fluid" style="background-image: url('../../assets/17973908.jpg');">
    <div class="row d-flex justify-content-center align-content-center" 
    style="min-height: 100vh;">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                   <i class="bi bi-lock-fill"></i> Sign in to AirlineApp
                </div>
                <div class="card-body">
                    <form class="row">
                        <div class="col-12 ">
                            <label for="inputEmail4" class="form-label">Email</label>
                            <input #email type="email" class="form-control" id="inputEmail4"
                            [placeholder]="placeholder_email">
                        </div>
                        <div class="col-12">
                            <label for="inputPassword4" class="form-label">Password</label>
                            <input #password type="password" class="form-control" id="inputPassword4"
                            [placeholder]="placeholder_password">
                        </div>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    <div class="col-12 d-flex justify-content-end">
                        <!-- <button class="btn btn-primary m-2" type="button">Forgot Password?</button> -->
                        <button type="submit" class="btn btn-primary"
                        (click)="submitCredentials(email.value,password.value)">Sign in</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>